<div class="column_1">
  <%= render :partial => 'tabs' %>
</div>

<div class="column_2">
  <div class="content">
    
    <% [:error, :notice].each do |msg| %>
      <% if flash[msg] %>
        <div class="flash <%= msg %>">
          <%= flash[msg] %>
        </div>
      <% end %>
    <% end %>
    
    <%= render :partial => 'letter_form', :locals => { :letter => @letter } %>
    
  </div>
</div>

<div class="clear_floats"></div>