<div class="content">
  <div class="main_message success_message">
    <p>
      Thank you for helping out with the Earmark Request Liberator (a part of
      the Transparency Corps family).
    </p>
    <p>
      If you would like to help uncover more earmark data, please click the
      link at the <strong>top right</strong> of the screen.  It looks like this:
      <br/><br/>
      <%= image_tag URI.join(TCORPS_URL, '/images/btn_anotherTask.png').to_s %>
    </p>
  </div>
</div>