<%
  plain = {
    :nav     => %{<a href="#plain_text"><span>Plain Text</span></a>},
    :partial => "plain_text"
  }

  source = {
    :nav     => %{<a href="#source_doc"><span>Source Doc</span></a>},
    :partial => "source_doc"
  }
  
  tabs = [plain, source]
%>

<div id="tabs">
  <ul>
    <% tabs.each do |tab| %>
      <li><%= tab[:nav] %></li>
    <% end %>
  </ul>
  <% tabs.each do |tab| %>
    <%= render :partial => tab[:partial] %>
  <% end %>
</div>
