<%
  plain = {
    :nav => %{<li><a href="#plain_text"><span>Plain Text</span></a></li>},
    :content => "plain_text_div"
  }

  source = {
    :nav => %{<li><a href="#source_doc"><span>Source Doc</span></a></li>},
    :content => "source_doc_div"
  }
  
  tabs = @has_plain_text ? [plain, source] : [source, plain]
%>

<div id="tabs">
  <ul>
    <% tabs.each do |tab| %>
      <%= tab[:nav] %>
    <% end %>
  </ul>
</div>
<% tabs.each do |tab| %>
  <%= render :partial => tab[:content] %>
<% end %>
