<div class="content">
  <div class="main_message success_message">
    <h1>Thanks For Your Submission</h1>
    <p>Thank you for helping out with the Earmark Request Liberator (a part of the Transparency Corps family).</p>
    <p><a href="">Click here</a> if you would like to help uncover more earmark data.</p>
    <p>Or <a href="">click here</a> if you want to go back your Transparency Corps dashboard.</p>
  </div>
</div>