<div class="content">
  <div class="main_message success_message">
    <h1>Thanks For Your Submission</h1>
    <p>
      Thank you for helping out with the Earmark Request Liberator (a part of
      the Transparency Corps family).
    </p>
    <p>
      If you would like to help uncover more earmark data, please click the
      link at the <strong>top right</strong> of the screen.  It looks like this:
      <br/>
      <%= another_task_img_tag %>
    </p>
    <p>
      Or <%= link_to "click here", tcorps_url %> to go back to the
      Transparency Corps dashboard.
    </p>
  </div>
</div>